<div class="overlay top-overlay" [class.animate]="animate"></div>
<div class="overlay bottom-overlay" [class.animate]="animate"></div>
<div
  class="slider"
  [style.background-image]="'url(' + currentSliderImage.image + ')'"
>
  <div class="slider-content">
    <h1>
      <span
        *ngFor="let word of words; let i = index"
        class="animated-word"
        [style]="{ 'animation-delay': i * 0.3 + 's' }"
      >
        {{ word }}&nbsp;
      </span>
    </h1>
    <h2>
      @for (word of words2; track $index;) {
      <span
        class="animated-word"
        [style]="{ 'animation-delay': $index * 0.3 + delay1 + 's' }"
      >
        @if($index === 2){ <br />
        {{ word }}&nbsp;} @else { {{ word }}&nbsp; }
      </span>
      }
      <br />
      @for (word of words3; track $index;) {
      <span
        class="animated-word"
        [style]="{ 'animation-delay': $index * 0.3 + delay2 + 's' }"
      >
        @if($index === 2){ <br />
        {{ word }}&nbsp;} @else { {{ word }}&nbsp; }
      </span>
      }
    </h2>
  </div>
</div>
<div class="slider-nav">
  <div class="nav-image" (click)="changeImage()">
    <img
      [src]="nextSliderImage.image"
      width="50px"
      height="50px"
      alt="Slider Thumbnail"
      loading="eager"
    />
    <span>Next</span>
  </div>
  <div #transition class="load-transition"></div>
  <div class="slider-progress">
    <span>01</span>
    <hr />
    <span>04</span>
  </div>
</div>
