<section>
  <div class="slideshow">
    <div
      class="carousel"
      [style.rotate]="rotateVal + 'deg'"
      (mousemove)="onMouseMove($event)"
    >
      @for (image of images; track $index) {
      <div class="slide">
        <img
          (dragstart)="dragstart($event, image)"
          (dragend)="dragend($event, image)"
          (touchstart)="dragstart($event, image, 'mobile')"
          (touchend)="dragend($event, image, 'mobile')"
          [src]="image.url"
          [alt]="image.alt"
          loading="lazy"
        />
      </div>
      }
      <!-- <div class="circle" [ngStyle]="{ 'top.px': circleY, 'left.px': circleX }">
      &lt;&gt;
    </div> -->
    </div>
    <div class="client-details" id="client-details">
      <h2>{{ currentImage.title }}</h2>
      <p>{{ currentImage.description }}</p>
    </div>
  </div>
</section>
